<h1>
    <%= message %>
</h1>
<h2>
    <%= error.status %>
</h2>
<pre><%= error.stack %></pre>
<a href="/xem">Xem danh sách hàng hóa </a><br>
<a href="/them">Thêm hàng hóa </a><br>
<a href="/sua">Sửa hàng hóa </a><br>
<a href="/xoa">xóa hàng hóa </a><br>